<div>
    <h1>{{dataModel.title}}</h1>
    <script type="text/ng-template"  id="tree_item_renderer.html">
        {{child.name}}
        <ul class="requirement-graph">
            <li class="requirement-graph-item" data-ng-repeat="child in child.children" ng-include="'tree_item_renderer.html'">
        </ul>
    </script>

    <div class="requirement-graph col-lg-4">
        <ul class="graph-root">
            <li class="requirement-graph-item item-root" ng-repeat="child in dataModel.children" ng-include="'tree_item_renderer.html'"></li>
        </ul>
    </div>

    <div class="requirement-listing requirements-table col-lg-4">
        <h3>Requirements</h3>
        <table class="table table-striped">
            <tr ng-repeat="req in dataModel.flatRequirements">
                <td>
                    <a ui-sref="">{{req.name}}</a>
                </td>
                <td class="edit-buttons" align="right">
                    <a class="btn btn-primary">Edit</a>
                    <a class="btn btn-success">Duplicate</a>
                    <a class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </table>
    </div>

    <div class="requirement-listing categories-table col-lg-4">
        <h3>Categories</h3>
        <table class="table table-striped">
            <tr ng-repeat="cat in dataModel.flatCategories">
                <td>
                    <a ui-sref="">{{cat.name}}</a>
                </td>
                <td class="edit-buttons" align="right">
                    <a class="btn btn-primary">Edit</a>
                    <a class="btn btn-success">Duplicate</a>
                    <a class="btn btn-warning">New Child</a>
                    <a class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </table>
    </div>
    <!--<form role="form">-->
        <!--<div class="form-group">-->
            <!--<label for="exampleInputEmail1">Email address</label>-->
            <!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="exampleInputPassword1">Password</label>-->
            <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
        <!--</div>-->
        <!--<div class="checkbox">-->
            <!--<label>-->
                <!--<input type="checkbox"> Check me out-->
            <!--</label>-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
    <!--</form>-->
    <a class="btn navbar-btn" ui-sref="requirements">Back</a>
</div>