<form>
    <div class="modal-header">
        <h3 class="modal-title">Edit</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <span class="title">Name</span>
                <input type="text" class="form-control" data-ng-model="data.name">
            </div>
            <div class="col-md-4" ng-if="data.isReq">
                <span class="title">Scoring Function</span>
                <div class="btn-group btn-group-view">
                    <label class="btn btn-default" ng-model="data.function" btn-radio="'Linear'">Lin</label>
                    <label class="btn btn-default" ng-model="data.function" btn-radio="'Exponential'">Exp</label>
                    <label class="btn btn-default" ng-model="data.function" btn-radio="'Logarithmic'">Log</label>
                </div>
            </div>
            <div class="col-md-2" ng-if="data.isReq">
                <span class="title"> View </span>
                <a class="btn btn-info glyphicon glyphicon-fullscreen" ng-model="data.function" ng-click="viewFunction(data)"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="title">Description</span>
                <textarea class="form-control" data-ng-model="data.description"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <span class="title">Priority</span>
                <input type="number" min="0" data-ng-model="data.Priority">
            </div>
            <div class="col-md-4">
                <span class="title">WeightPos</span>
                <br>
                {{data.weightPos}}
                <input type="range" min="0.0" max="1.0" step="0.01" data-ng-model="data.weightPos">
            </div>
            <div class="col-md-4">
                <span class="title">WeightNeg</span>
                <br>
                {{data.weightNeg}}
                <input type="range" min="0.0" max="1.0" step="0.01" data-ng-model="data.weightNeg">
            </div>
        </div>
        <div class="row" ng-if="data.isReq">
            <div class="col-md-6">
                <span class="title">Test-Bench</span>
                <input type="text" class="form-control" data-ng-model="data.testBench">
            </div>
        </div>
        <div class="row" ng-if="data.isReq">
            <div class="col-md-6">
                <span class="title">Metric Name</span>
                <input type="text" class="form-control" data-ng-model="data.metricName">
            </div>
        </div>
        <div class="row" ng-if="data.isReq">
            <div class="col-md-4">
                <span class="title">Objective</span>
                <input type="number" data-ng-model="data.objective">
            </div>
            <div class="col-md-4">
                <span class="title">Threshold</span>
                <input type="number" data-ng-model="data.threshold">
            </div>
            <div class="col-md-4">
                <span class="title">Unit</span>
                <input type="text" class="form-control" data-ng-model="data.unit">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>