<form>
    <div class="modal-header">
        <h3 class="modal-title">Edit Users for {{dataModel.title}}</h3>
    </div>
    <div class="modal-body">
        <div ng-if="dataModel.noOtherUsers"> You're the only user. </div>
        <table class="table table-striped users">
            <tr ng-repeat="user in dataModel.users">
                <td>
                    {{user.name}}
                </td>
                <td class="edit-buttons" align="right">
                    <div class="btn-group">
                        <label class="btn btn-default" ng-model="user.permissionLevel" btn-radio="0">None</label>
                        <label class="btn btn-default" ng-model="user.permissionLevel" btn-radio="1">Read</label>
                        <label class="btn btn-default" ng-model="user.permissionLevel" btn-radio="2">Write</label>
                        <label class="btn btn-default" ng-model="user.permissionLevel" btn-radio="3">Admin</label>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>
