<div>
    <h1>{{dataModel.title}}</h1>
    <script type="text/ng-template"  id="tree_item_renderer.html">
        <a ng-class="{'selected': child.isSelected, 'in-selections': child.inSelections > 0}" ng-click="onSelection(child)">{{child.name}}</a>
        <ul class="requirement-graph">
            <li class="requirement-graph-item" data-ng-repeat="child in child.children" ng-include="'tree_item_renderer.html'">
        </ul>
    </script>

    <div class="requirement-graph col-lg-4">
        <ul class="graph-root">
            <li class="requirement-graph-item item-root" ng-repeat="child in dataModel.children" ng-include="'tree_item_renderer.html'"></li>
        </ul>
    </div>

    <div class="requirement-listing categories-table col-lg-4">
        <span class="title">Categories</span>
        <table class="table table-striped">
            <tr class='row' data-ng-repeat="cat in dataModel.flatCategories | orderBy: 'name' ">
                <td>
                    <a ng-class="{'selected': cat.isSelected, 'in-selections': cat.inSelections > 0}" ng-click="onSelection(cat)">{{cat.name}}</a>
                </td>
                <td class="details" align="left">
                    <span class="details-header">Description :</span> {{cat.description}}
                    <br>
                    <span class="details-header">Priority :</span> {{cat.Priority}}
                    <br>
                    <span class="details-header">WeightNeg :</span> {{cat.weightNeg}}
                    <br>
                    <span class="details-header">WeightPos :</span> {{cat.weightPos}}
                    <br>
                    <div class="edit-buttons-details">
                        <a class="btn btn-primary" ng-click="edit(cat)">Edit</a>
                        <a class="btn btn-success" ng-click="duplicate(cat)">Duplicate</a>
                        <a class="btn btn-default" ng-click="createNew(cat, true)">New Requirement</a>
                        <a class="btn btn-warning" ng-click="createNew(cat, false)">New Category</a>
                        <a class="btn btn-danger" ng-click="deleteItem(cat)">Delete</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="requirement-listing requirements-table col-lg-4">
        <span class="title">Requirements
            <button class="btn btn-default" ng-model="dataModel.requirementDetails" btn-checkbox>Details</button>
        </span>
        <br>
        <table class="table table-striped">
            <tr class='row' data-ng-repeat="req in dataModel.flatRequirements | orderBy: 'name'">
                <td>
                    <a ng-class="{'selected': req.isSelected, 'in-selections': req.inSelections > 0}" ng-click="onSelection(req)">{{req.name}}</a>
                </td>
                <td class="solo-description" align="left" ng-show="dataModel.requirementDetails === false">
                    {{req.description}}
                </td>
                <td class="details" align="left" ng-show="dataModel.requirementDetails">
                    <span class="details-header">Test-Bench :</span> {{req.testBench}}
                    <br>
                    <span class="details-header">Metric Name :</span> {{req.metricName}}
                    <br>
                    <span class="details-header">Objective :</span> {{req.objective}}
                    <br>
                    <span class="details-header">Threshold :</span> {{req.threshold}}
                    <br>
                    <span class="details-header">Unit :</span> {{req.unit}}
                    <br>
                    <div class="edit-buttons-details">
                        <a class="btn btn-primary" ng-click="edit(req)">Edit</a>
                        <a class="btn btn-success" ng-click="duplicate(req)">Duplicate</a>
                        <a class="btn btn-danger" ng-click="deleteItem(req)">Delete</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <a class="btn navbar-btn" ui-sref="requirements">Back</a>
</div>