<div>
    <h1>Requirements</h1>
    <a class="btn btn-default" ng-click="create()">Create New</a>
    <br>
    <br>
    <div class="requirement-listing col-lg-8" align="center">
        <table class="table table-striped">
            <tr ng-repeat="req in dataModel.requirements">
                <td>
                    <a ui-sref="requirementDetails({ requirementId: req.title})">{{req.title}}</a>
                </td>
                <td class="edit-buttons" align="right">
                    <a class="btn btn-success" ng-click="duplicate(req.title)">Duplicate</a>
                    <a class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>