<form>
    <div class="modal-header">
        <h3 class="modal-title">Edit Users for {{dataModel.title}}</h3>
        <button class="btn btn-default" ng-click="generateResults(1)">Generate New Result</button>
        <button class="btn btn-default" ng-click="scoreAll()">Score All</button>
    </div>
    <div class="modal-body">
        <table class="table table-striped users">
            <tr ng-repeat="res in dataModel.results">
                <td>
                    {{res.name}}
                </td>
                <td>
                    {{res.score.score}}
                </td>
                <td class="edit-buttons" align="right">
                    <a ng-if="res.score && res.score.hasOwnProperty('children')" class="btn btn-success glyphicon glyphicon-tasks" ng-click="viewDetails(res)" tooltip="View Score Details"></a>
                    <a class="btn btn-primary glyphicon glyphicon-tasks" ng-click="scoreResult(res)" tooltip="Score"></a>
                    <a class="btn btn-danger glyphicon glyphicon-trash" ng-click="deleteItem($index)" tooltip="Delete"></a>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>
</form>