<form>
    <div class="modal-header">
        <h3 class="modal-title">Edit Users for {{dataModel.title}}</h3>
        <button class="btn btn-default" ng-click="generateResults(1)">Generate New Result</button>
    </div>
    <div class="modal-body">
        <table class="table table-striped users">
            <tr ng-repeat="res in dataModel.results">
                <td>
                    {{res.name}}
                </td>
                <td>
                    {{res.score}}
                </td>
                <td class="edit-buttons" align="right">
                        <a class="btn btn-primary glyphicon glyphicon-tasks" ng-click="scoreResult(res)" tooltip="Score"></a>
                        <a class="btn btn-danger glyphicon glyphicon-trash" ng-click="deleteItem($index)" tooltip="Delete"></a>
                </td>
            </tr>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>