div.requirement-listing {
  span.title {
    font-size: 24px;
  };
  table {
    border-style: solid;
    border-width: 2px;
  };
  .btn {
    padding: 1px 4px;
  };
  td {
    padding: 4px;
    vertical-align: middle;
  };
  td.edit-first-column {
    position: relative;
  }
  span.edit-buttons-details {
    position: absolute;
    bottom: 5px;
    left: 5px;
  };
  span.details-header {
    font-weight: bold;
  };
}
a.selected {
  font-weight: bold;
}
a.in-selections {
  background-color: lightgreen;
}
div.requirements {
  header.main-header {
    margin: 10px 16px;
  }
}
div.requirement-details {
  header.main-header {
    margin: 10px 16px;
    div.btn-group-view {
      margin-top: 6px;
      .btn {
        padding: 5px 9px;
        font-size: 12px;
      }
    }
  }
}
div.modal-body {
  .row {
    padding: 7px 1px;
    .title {
      font-weight: bold;
    }
  }
}