div.requirement-listing span.title {
  font-size: 24px; }
div.requirement-listing table {
  border-style: solid;
  border-width: 2px; }
div.requirement-listing .btn {
  padding: 1px 4px; }
div.requirement-listing td {
  padding: 4px;
  vertical-align: middle; }
div.requirement-listing td.edit-first-column {
  position: relative; }
div.requirement-listing span.edit-buttons-details {
  position: absolute;
  bottom: 5px;
  left: 5px; }
div.requirement-listing span.details-header {
  font-weight: bold; }

a.selected {
  font-weight: bold; }

a.in-selections {
  background-color: lightgreen; }

div.requirements header.main-header {
  margin: 10px 16px; }

div.requirement-details header.main-header {
  margin: 10px 16px; }
  div.requirement-details header.main-header div.btn-group-view {
    margin-top: 6px; }
    div.requirement-details header.main-header div.btn-group-view .btn {
      padding: 5px 9px;
      font-size: 12px; }

div.modal-body .row {
  padding: 7px 1px; }
  div.modal-body .row .title {
    font-weight: bold; }

div.function-body {
  width: 750px;
  height: 600px; }
  div.function-body.Linear {
    background-image: url(../images/linear.svg); }
    div.function-body.Linear.invert {
      background-image: url(../images/neg_linear.svg); }
  div.function-body.Exponential {
    background-image: url(../images/exp.svg); }
    div.function-body.Exponential.invert {
      background-image: url(../images/neg_exp.svg); }
  div.function-body.Logarithmic {
    background-image: url(../images/log.svg); }
    div.function-body.Logarithmic.invert {
      background-image: url(../images/neg_log.svg); }
