div.requirement-listing {
  span.title {
    font-size: 24px;
  };
  table {
    border-style: solid;
    border-width: 2px;
  };
  .btn-primary {
    padding: 1px 16px;
  };
  .btn-success {
    padding: 1px 3px;
  };
  .btn-warning {
    padding: 1px 4px;
  };
  .btn-danger {
    padding: 1px 4px;
  };
  .btn-default {
    padding: 1px 4px;
  };
  td {
    padding: 4px;
    vertical-align: middle;
  };

  .edit-buttons-details {
    text-align: right;
  };
  span.details-header {
    font-weight: bold;
  };
}
a.selected {
  font-weight: bold;
}
a.in-selections {
  background-color: lightgreen;
}
div.requirements {
  header.main-header {
    margin: 10px 16px;
  }
}
div.requirement-details {
  header.main-header {
    margin: 10px 16px;
  }
}
div.modal-body {
  .row {
    padding: 7px 1px;
    .title {
      font-weight: bold;
    }
  }
}