<div class="bar bar-header bar-light">
    <h1 class="title">User permissions</h1>
</div>
<ion-content>
    <h2 class="subtitle">{{dataModel.title}}</h2>

    <div class="list">
        <label class="item item-input item-stacked-label" data-ng-repeat="user in dataModel.users">
            <span class="input-label">{{user.name}}</span>
            <input type="text" placeholder="{{user.permissionLevel}} -({{user.id}})">
        </label>

        <div class="button-bar">
            <!--<button class="button button-clear button-positive" data-ng-click="ok()">-->
                <!--Save-->
            <!--</button>-->
            <button class="button button-clear button-assertive" data-ng-click="cancel()">
                Cancel
            </button>
        </div>
    </div>
</ion-content>