<div class="list">
    <label class="item item-input item-stacked-label">
        <span class="input-label">Requirement Name</span>
        <input type="text" placeholder="Name" data-ng-model="data.name">
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Requirement Name</span>
        <input type="text" placeholder="Description" data-ng-model="data.description">
    </label>

    <button class="button button-block button-positive" data-ng-click="ok()">
        Save
    </button>
    <button class="button button-block button-assertive" data-ng-click="cancel()">
        Cancel
    </button>
</div>
