<ion-view>
    <ion-header-bar align-title="center" class="bar-stale">
        <div class="buttons">
            <button class="button button-clear button-assertive" data-ng-click="cancel()">
                Dismiss
            </button>
        </div>

        <h1 class="title">New requirement</h1>

        <div class="buttons">
            <button class="button button-clear button-positive" data-ng-click="ok()">
                Done
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Requirement title</span>
                <input type="text" placeholder="Enter a unique title." data-ng-model="data.title">
            </label>
        </div>
    </ion-content>
</ion-view>