<ion-view title="Requirements">
    <ion-content class="padding">
        <button class="button button-clear button-positive" data-ng-click="create()">Create New</button>

        <ion-list>
            <ion-item ng-repeat="req in dataModel.requirements"  type="item-text-wrap" href="#/tab/requirements/{{req.title}}">
                {{req.title}}


                <ion-option-button class="button-positive"
                                   ng-click="editUsers(req)">
                    <i class="icon ion-person"></i>
                </ion-option-button>

                <ion-option-button class="button-balanced"
                                   ng-click="duplicate(req.title)">
                    <i class="icon ion-ios7-copy"></i>
                </ion-option-button>

                <ion-option-button class="button-assertive"
                                   ng-click="delete(req)">
                    <i class="icon ion-minus-circled"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

