<ion-view>
    <ion-header-bar>
        <!--<div class="buttons">-->
        <!--<button class="button button-icon icon ion-navicon"></button>-->
        <!--</div>-->
        <h1  class="title">Requirement root - {{dataModel.title}}</h1>
        <!--<div class="buttons">-->
        <!--<button class="button button-clear button-positive">Edit</button>-->
        <!--</div>-->
    </ion-header-bar>

    <ion-content class="padding">

        <ion-list>
            <ion-item ng-repeat="cat in dataModel.flatCategories"  type="item-text-wrap">
                {{cat.name}}

                <ion-option-button class="button-positive"
                                   ng-click="edit(cat)">
                    Edit
                </ion-option-button>

                <ion-option-button class="button-assertive"
                                   ng-click="delete(cat)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>