<ion-view>
    <ion-header-bar align-title="center" class="bar-dark">
        <div class="buttons">
            <a class="button button-clear button-positive" href="#/tab/requirements">
                <i class="icon ion-ios7-arrow-back"></i>
            </a>
        </div>

        <h1 class="title">{{dataModel.title}}</h1>

        <div class="buttons">
        </div>
    </ion-header-bar>

    <ion-content class="padding">
        <h4>Categories</h4>
        <ion-list>
            <ion-item ng-repeat="cat in dataModel.flatCategories | orderBy: 'name'" type="item-text-wrap" data-ng-click="onSelection(cat)">

                <span data-ng-class="{'dark': !cat.isSelected, 'positive': cat.isSelected, 'royal': cat.inSelections > 0}">
                    <i class="icon" data-ng-class="{'ion-ios7-circle-outline': !cat.isSelected, 'ion-ios7-circle-filled': cat.isSelected}"></i>
                    {{cat.name}}
                </span>

                <ion-option-button class="button-positive"
                                   ng-click="edit(cat)">
                    <!-- Edit -->
                    <i class="icon ion-compose"></i>
                </ion-option-button>

                <ion-option-button class="button-balanced"
                                   ng-click="duplicate(cat)">
                    <!-- Duplicate -->
                    <i class="icon ion-ios7-copy"></i>
                </ion-option-button>

                <ion-option-button class="button-energized"
                                   ng-click="createNew(cat, true)">
                    <!-- New requirement -->
                    <i class="icon ion-plus-circled"></i>
                </ion-option-button>

                <ion-option-button class="button-calm"
                                   ng-click="createNew(cat, false)">
                    <!-- New requirement group -->
                    <i class="icon ion-filing"></i>
                </ion-option-button>


                <ion-option-button class="button-assertive"
                                   ng-click="deleteItem(cat)">
                    <!-- Delete -->
                    <i class="icon ion-ios7-trash"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>

        <h4>Requirements</h4>
        <div class="card" ng-repeat="req in dataModel.flatRequirements | orderBy: 'name'">
            <div class="item item-divider" data-ng-click="onSelection(req)">
                <span data-ng-class="{'dark': !req.isSelected, 'positive': req.isSelected, 'royal': req.inSelections > 0}">
                    <i class="icon" data-ng-class="{'ion-ios7-circle-outline': !req.isSelected, 'ion-ios7-circle-filled': req.isSelected}"></i>
                    {{req.name}}
                </span>
            </div>

            <div class="item item-text-wrap">
                <p>{{req.description}}</p>
                <div>{{req.testBench}}.{{req.metricName}}</div>

                    <span>Objective[{{req.objective}}] - </span>
                    <span>Threshold[{{req.threshold}}] - </span>
                    <span>Unit[{{req.unit}}]</span>

                <div class="button-bar">
                    <button class="button button-light button-clear button-positive" data-ng-click="edit(req)"><i class="icon ion-compose"></i></button>
                    <button class="button button-light button-clear button-balanced" data-ng-click="duplicate(req)"><i class="icon ion-ios7-copy-outline"></i></button>
                    <button class="button button-light button-clear button-assertive" data-ng-click="deleteItem(req)"><i class="icon ion-ios7-trash-outline"></i></button>
                </div>
            </div>
            <!--<div class="item item-divider">-->
                <!--I'm a Footer in a Card!-->
            <!--</div>-->
        </div>
    </ion-content>
</ion-view>