<ion-view title="Requirements">
    <ion-content class="padding">
        <ion-list>
            <ion-item ng-repeat="req in dataModel.requirements"  type="item-text-wrap" href="#/tab/requirements/{{req.title}}">
                {{req.title}}

                <ion-option-button class="button-balanced"
                                   ng-click="duplicate(req)">
                    Duplicate
                </ion-option-button>

                <ion-option-button class="button-assertive"
                                   ng-click="delete(req)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

