<ion-tabs class="tabs-icon-top">


    <!-- Requirements Tab -->
    <ion-tab title="Requirements" icon="icon ion-home" href="#/tab/requirements">
        <ion-nav-view name="tab-requirements"></ion-nav-view>
    </ion-tab>

    <!-- Scoring Tab -->
    <ion-tab title="Scoring" icon="icon ion-ios7-paper" href="#/tab/scoring">
        <ion-nav-view name="tab-scoring"></ion-nav-view>
    </ion-tab>

    <!-- Users Tab -->
    <ion-tab title="Users" icon="icon ion-ios7-people" href="#/tab/users">
        <ion-nav-view name="tab-users"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Search" icon="icon ion-ios7-search-strong" href="#/tab/search">
        <ion-nav-view name="tab-search"></ion-nav-view>
    </ion-tab>

</ion-tabs>